/* General Styling */
body {
  background-color: black;
}

.fontPrimary {
  font-family: 'Archivo', sans-serif;
}

.fontSecondary {
  font-family: 'Open Sans', sans-serif;
}

.colorPrimary {
  color: #E18700;
}

.colorSecondary {
  color: #ECD719;
}

/* Custom Buttons */
.projectLink,
.certificationLink {
	background-color:#e18700;
	border-radius:11px;
	display:inline-block;
	cursor:pointer; 
	color:white;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
}
.projectLink:hover,
.certificationLink:hover {
	background-color:#525252;
}
.projectLink:active,
.certificationLink:active {
	position:relative;
	top:1px;
}


/* Navbar */
.logo {
  height: 75px;
  width: 100%;
}

.nav-link {
  font-size: x-large;
  position: relative;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1405px) {
  
  .nav-link:active {
    color: #E18700;
    transform: scale(1.10);
  }

  .nav-link:hover {
    color: #E18700;
  }

  /* Animate the line from the left */
  .nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E18700;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::before {
    transform: scaleX(1);
  }

}

/* Mobile Navbar */
@media only screen and (max-width: 1405px) {
  .nav-link:hover,
  .nav-link:active {
    color: #E18700;
  }
}

@media only screen and (max-width: 1405px) {
  .hamburger-toggle{
    display:block;
    position: relative;
    background-color: black;
    width: 60px; 
    height: 60px; 
    border:none;
  }

  /* give the span element and related pseudo-elements the appearance of white lines */
  .hamburger-icon,
  .hamburger-icon::before,
  .hamburger-icon::after {
    position: absolute;
    width: 30px; 
    height: 2px;
    border-radius: 4px;
    background-color: white;
  }

  /* center the span element in the middle of its containing button */
  .hamburger-icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
  }

  /* position the two pseudo-elements to the very left */
  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    left: 0;
  }

  /* this is the top dash of the hamburger */
  .hamburger-icon::before {
    bottom: 8px;
  }

  /* this is the bottom dash of the hamburger */
  .hamburger-icon::after {
    top: 8px;
  }

  /* HOVER STYLES ON THE BUTTON */

  /* rotate middle dash of hamburger */
  .hamburger-toggle:hover .hamburger-icon {
    height: 3px;
    width: 45px;
    left: 5px;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: white;
  }

  /* rotate bottom dash of hamburger counter clockwise */
  .hamburger-toggle:hover .hamburger-icon::after {
    width: 45px;
    height: 3px;
    top: -1px;
    transform: rotate(-270deg);
    background-color: white;
  }

  /* hide the top dash by scaling it to 0 */
  .hamburger-toggle:hover .hamburger-icon::before {
    transform: scale(0);
  }

  /* TRANSITION */
  /* adjust duration to see it happen slower */
  .hamburger-icon, .hamburger-icon::after {
    transition: all 0.3s linear;
  }
}

/* Landing Page */
.updatesLink {
  color: #525252;
}

.updatesLink:hover {
  color: #E18700;
  transform: scale(1.10);
}

.updatesList {
  color: #525252;
}

/* Projects */
@media only screen and (min-width: 1405px) {
  .projectsImg {
    height: 360px;
    width: 360px;
  }
}

@media only screen and (max-width: 1405px) {
  .projectsImg {
    max-height: 500px;
    width: 100%;
    overflow: hidden;
  }
}

/* Education and Experience */
.educationImg,
.experienceImg,
.certificationImg {
  width: 360px;
  height: 360px;
}

/* Contact Me */
.contactLink {
  color: #E18700;
  text-decoration: none;
}

.contactLink:hover {
  color: #E18700;
  text-decoration: underline;
}

/* Footer */
.footerText,
.footerLink,
.resumeLink,
.linkedinLink,
.githubLink {
  color: #525252;
  text-decoration: none;
}

.footerLink:hover,
.resumeLink:hover,
.linkedinLink:hover,
.githubLink:hover {
  color: #E18700;
  text-decoration: underline;
}


