/* General Styling */
body {
  background-color: black;
}

.fontPrimary {
  font-family: 'Archivo', sans-serif;
}

.fontSecondary {
  font-family: 'Open Sans', sans-serif;
}

.colorPrimary {
  color: #E18700;
}

.colorSecondary {
  color: #ECD719;
}

/* Custom Buttons */
.projectLink,
.certificationLink {
	background-color:#e18700;
	border-radius:11px;
	display:inline-block;
	cursor:pointer; 
	color:white;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:10px 76px;
	text-decoration:none;
}
.projectLink:hover,
.certificationLink:hover {
	background-color:#525252;
}
.projectLink:active,
.certificationLink:active {
	position:relative;
	top:1px;
}


/* Navbar */
.logo {
  height: 75px;
  width: 100%;
}

.nav-link {
  font-size: x-large;
  color: white;
}

@media only screen and (min-width: 1405px) {
  .nav-link:hover,
  .nav-link:active {
    color: #E18700;
    transform: scale(1.10);
  }
}

@media only screen and (max-width: 1405px) {
  .nav-link:hover,
  .nav-link:active {
    color: #E18700;
  }
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}

/* Landing Page */
.updatesLink {
  color: #525252;
}

.updatesLink:hover {
  color: #E18700;
  transform: scale(1.10);
}

.updatesList {
  color: #525252;
}

/* Projects */
@media only screen and (min-width: 1405px) {
  .projectsImg {
    height: 360px;
    width: 360px;
  }
}

@media only screen and (max-width: 1405px) {
  .projectsImg {
    max-height: 500px;
    width: 100%;
    overflow: hidden;
  }
}

/* Education and Experience */
.educationImg,
.experienceImg,
.certificationImg {
  width: 360px;
  height: 360px;
}

/* Contact Me */
.contactLink {
  color: #E18700;
  text-decoration: none;
}

.contactLink:hover {
  color: #E18700;
  text-decoration: underline;
}

/* Footer */
.footerText,
.footerLink,
.resumeLink,
.linkedinLink,
.githubLink {
  color: #525252;
  text-decoration: none;
}

.footerLink:hover,
.resumeLink:hover,
.linkedinLink:hover,
.githubLink:hover {
  color: #E18700;
  text-decoration: underline;
}


